<!-- Side Catalog Container -->
{% if page.catalog %}
	<div class="
		col-lg-2 col-lg-offset-0
		visible-lg-block
		sidebar-container
		catalog-container">
		<div class="side-catalog">
			<hr class="hidden-sm hidden-xs">
			<h5>
				<a class="catalog-toggle" href="#">CATALOG</a>
			</h5>
			<ul class="catalog-body"></ul>
		</div>
	</div>
{% endif %}

<!-- Sidebar Container -->
	<div class="
		col-lg-8 col-lg-offset-2
		col-md-10 col-md-offset-1
		sidebar-container">

		<!-- Featured Tags -->
		{% if site.featured-tags %}
		<section>
			<hr class="hidden-sm hidden-xs">
			<h5><a href="/tags/">FEATURED TAGS</a></h5>
			<div class="tags">
				{% for tag in site.tags %}
					{% if tag[1].size > {{site.featured-condition-size}} %}
						<a href="/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
							{{ tag[0] }}
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</section>
		{% endif %}

		<!-- Friends Blog -->
		{% if site.friends %}
		<hr>
		<h5>FRIENDS</h5>
		<ul class="list-inline">
			{% for friend in site.friends %}
				<li><a href="{{friend.href}}">{{friend.title}}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>